//scss stub for singleselect
html {
  background-color: blue;
  text-align: center;
}
.SingleSelect {
  display: flex;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: auto;
  background-color: grey;
}

.questionRow {
  display: flex;
  width: 50%;
  justify-content: center;
  background-color: green;
}
.break {
  width: 100%;
}

.buttons,
.feedback,
.correct,
.incorrect {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: purple;
}

button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 40px 5px 40px;
  border-radius: 7 px;
}

button:hover {
  background-color: black;
}
