//scss stub for singleselect
body {
  background-color: blue;
  text-align: center;
}
.SingleSelect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: baseline;
  height: 300px;
  background-color: red;
}

.questionRow {
  display: flex;
  width: 50%;
  justify-content: center;
  background-color: green;
}
.break {
  width: 100%;
}

.buttons,
.feedback .correct .incorrect {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: purple;
}

button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 40px 5px 40px;
  border-radius: 7 px;
}
