//scss stub for multiselect
.MultiSelect {
  display: flex;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: auto;
  // background-color: #03998d;
  background: #41e3a0;
  background: linear-gradient(315deg, #41e3a0 0%, #03998d 56%);
}
.true {
  border: 2px #03998d solid;
  background-color: #03998d63;
  border-radius: 7px;
}
.buttonsMulti {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #c7c0bd;
  box-shadow: -1rem 1rem 1rem rgba(black, 0.2);
}
table {
  width: 100%;
  background-color: #c7c0bd;
}
.grades {
  width: 50%;
  box-shadow: -1rem 1rem 1rem rgba(black, 0.2);
}
td {
  padding: 5px 0px 5px 0px;
  border-bottom: 2px dotted #03998d;
  font-size: larger;
  margin: 2px 2px 0px 2px;
}
th {
  border-bottom: 2px solid #ce7d5a;
  background-color: #ce7d5a63;
}

.correctSelected {
  background-color: #7adb0263;
  border: 3px solid #7adb02;
}
.incorrectSelected {
  background-color: #ff330063;
  border: 3px solid #ff3300;
}
